@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-fredoka: "Fredoka", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: var(--font-fredoka);
  background-image: url("https://res.cloudinary.com/dp1o87p4c/image/upload/v1783750612/main_portfolio_urwcer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-anton);
  font-weight: 400;
}

.font-anton {
  font-family: var(--font-anton);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}
